address {
    // Remove default italics
    font-style: unset;
}

.container {
    width: $content-width;
    margin: auto;
    //padding-left: $page-margin;
    //padding-right: $page-margin;

    @include respond-to('small') {
        width: 100%;
    }
}