@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 4rem;
  font-family: Roboto Slab;
  //text-transform: uppercase;
}

h2 {
  margin-bottom: 1em;
}

a {
  color: $primary-color;
}

a:hover {
  color: $primary-color;
}

p {
  font-size: 1.25rem;
  max-width: 75ch;
}