article {
    //display: grid;
    //grid-template-columns: 2fr 1.25fr;
    //gap: 10em;

    h2 {
        margin-bottom: 1em;
    }

    h3 {
        margin-bottom: 1em;
    }

    p {
        margin-bottom: 1.5em;
        max-width: 60ch;
    }
}

.article-content {
    display: grid;
    grid-template-columns: 2fr 1.25fr;
    gap: 1em;

    picture {
        height: 100%;
        overflow: hidden;
        img {
            width: 100%;
        }
    }
}

.infobox {
    background-color: $primary-color;
    color: white;
    padding: 4em;

    ul, p {
        margin-bottom: 2em;
    }
}

.header-image {
    display: block;
    height: 20em;
    overflow: hidden;
    img {
        width: 100%;
    }
}